<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">    
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>    
    <title>Movie Book</title>
    <style>
        div{
            margin:10px;
        }
    </style>
</head>
<body class="md-4">
    <%-include('_header') %> 
    <br>
    <div class="container md-4">
        <nav>
            <a class="btn btn-info" href="./homepage">Back</a>
        </nav>
    </div>
    
    <div class="container md-4">
        <div class="row">
            <div class="col">
                <img style="width: 18rem;" src="<%=data.poster %> ">
            </div>
            <div class="col">
                <div class="container">
                    <h1>TITLE: <%= data.title %> </h1>
                    <br>
                    <h2>Showing Time</h2>
                    <form action="/confirmation" method="post">
                        
                        <label for="time">Choose time</label>
                        
                        <select name="time">
                            <%for(var i=0;i<data.time.length;i++){ %>
                                <option value="<%=data.time[i] %>"><%=data.time[i] %></option>
                                
                            <%}%> 
                            <input name="submitTitle" type="hidden" value="<%=data.title%>">
                            <input name="submitPoster" type="hidden" value="<%=data.poster %> ">
                        </select>
                        
                        <h3>Price: RM13</h3><input name="submitPrice" type="hidden" value="13"> 
                        
                        <label for="count">How many ticket: </label><input required min="1" max="30" type="number" name="count" style="width: 50px">
                        
                    <button type="submit" class="btn btn-primary">Submit</button>                    
                    </form>
                    
                    
                </div>
                
            </div>
        </div>
    </div>

</body>
</html>